---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => !data.draft);
const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Steady State">
  <section>
    <div class="space-y-6">
      {sortedPosts.map((post) => (
        <PostCard
          title={post.data.title}
          slug={post.slug}
          date={post.data.date}
          description={post.data.description}
          tags={post.data.tags}
        />
      ))}
    </div>
  </section>
</BaseLayout>
